<h1>Add courses</h1>
<a href="/">Main page</a>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required>
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название">Helper text</span>

    </div>

    <div class="input-field">
        <input id="price" type="number" name="price" class="validate" required min="1">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену">Helper text</span>
    </div>

    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите url картинки">Helper text</span>

    </div>

    <button class="btn btn-primari">Добавить Курс</button>
</form>
